{{#with view}}
  {{#if searcher.isSearching}}
    <h3 class="sr-header">Searching for '<strong>{{searcher.searchedFor}}</strong>' &hellip;</h3>
  {{else}}
    {{#if searcher.searchedFor}}
      <div class="sr-header">
        <span>{{searcher.numFound}} Results for '<strong>{{searcher.searchedFor}}</strong>'</span>
        {{#if DSApp.searcher.selectedFacets}}
          <div class="selected-facets">
            Selected Facets:
            {{#each facet in DSApp.searcher.selectedFacets}}
              <a href="" class="facet" {{action 'removeSelectedFacet' facet target='DSApp.searcher'}}>{{facet.field}}:{{facet.value}}</a>
            {{/each}}
          </div>
        {{/if}}
      </div>
    {{/if}}
  {{/if}}

  <ul class="sr-list">
    {{#each results}}
      <li class="sr-item">

        <span>
        <a href="{{unbound url}}">{{unescapeString title}}</a> 
        <img src='images/icons/{{unescapeString icon}}.gif' class='icon'>
        </span>        
        <div>
        {{#if snipet.attr_content}}
          {{unescapeString snipet.attr_content}}
        {{/if}}
        </div>

      </li>
    {{/each}}
  </ul>

  {{#if searcher.isSearching}}
    <p class="results-message results-loading">Loading Results &hellip;</p><br>
  {{/if}}
  {{#if searcher.noResults}}
    <p class="results-message results-none">No results were found for your search. Try broadening your terms.</p><br>
  {{/if}}
  {{#if searcher.allResultsLoaded}}
    <p class="results-message results-loaded">All Results Loaded</p><br>
  {{/if}}
{{/with}}